@using (Html.BeginForm("All", null, FormMethod.Get))
{
    <div class="inner-addon left-addon">
        <i class="glyphicon glyphicon-search"></i>
             @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new { @class = "form-control", id = "input-search", name = "searchString", placeholder = "Enter name and hit enter..."})
        </div>
}
