@model PagedList.PagedList<ChooseMe.Web.Models.Organization.OrganizationsListView>
@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Organizations</h2>
<br/>
<div class="row" id="search-options">
    <span class="pull-left">
        @Html.EditorFor(m => m, "Search")
    </span>
 </div>
<br/>
    <div class="row">
        @Html.Partial("_AllTable")
        <div id="ajax-search-results"></div>
        @Html.Partial("_Paging")
    </div>
