body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#orgname {
    vertical-align: middle;
}

#orgname a{
    text-decoration: none;
}

#homepage-container div.jumbotron{
    background-image: url(../Images/cover.jpg);
    background-repeat: no-repeat;
    background-color: gray;
}

div.navbar{
    background-image: url(../Images/vintage-green-pattern.jpg);
    background-color: darkseagreen;
}

div.navbar-header a.navbar-brand:hover,
ul.navbar-nav li.menu a:hover,
a#loginLink:hover,
a#registerLink:hover,
a#logoutForm:hover{
    color:#18da7d;
}

 .img-effect:hover {
    cursor: pointer;
    border-radius: 0px;
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
                      -moz-transform: scale(1.2, 1.2);
     -moz-transition-timing-function: ease-out;
                       -ms-transform: scale(1.20, 1.20);
      -ms-transition-timing-function: ease-out;

         -webkit-transition-duration: 500ms;
            -moz-transition-duration: 500ms;
             -ms-transition-duration: 500ms;

}


.title{
 margin-left:20px
}

.searchable-container{
    margin-top:40px;
}

.info-block{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box,
div.container-box {
    width:300px;
    min-height:300px;
    margin-right:22px;
    text-align:center!important;
    padding:20px;
}
.info-block:hover .info-block.block-info {
    border-color:#20819e
}

/*Author: Kosmom.ru*/.loading,.loading>td,.loading>th,.nav li.loading.active>a,.pagination li.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
    background-size: 40px 40px;
animation: 2s linear 0s normal none infinite progress-bar-stripes;
-webkit-animation: progress-bar-stripes 2s linear infinite;
}
.btn.btn-default.loading,input[type="text"].loading,select.loading,textarea.loading,.well.loading,.list-group-item.loading,.pagination>li.active.loading>a,.pager>li.loading>a{
background-image: linear-gradient(45deg, rgba(235, 235, 235, 0.15) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, rgba(235, 235, 235, 0.15) 50%, rgba(235, 235, 235, 0.15) 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

div.well.panel.panel-default{
    background-image: url(../Images/paw-prints.jpg);
    width: 1100px;
    height: 500px;
}

a.panel-link{
    color:white !important;
}
div#create-page{
   background-image: url("../Images/cats-meow_1250010i.jpg");
}

form#create{
     padding-left: 27%;
     width:970px;
}

form#create input.btn{
     width:1000px;
     margin-right:15%;
}

.thumb
{
    padding: 0px;
    margin: 0px;
}