body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#orgname {
    vertical-align: middle;
}

#orgname a{
    text-decoration: none;
}

#homepage-container div.jumbotron{
    background-image: url(../Images/cover.jpg);
    background-repeat: no-repeat;
    background-color: gray;
}

div.navbar{
    background-image: url(../Images/vintage-green-pattern.jpg);
    background-color: darkseagreen;
}

div.navbar-header a.navbar-brand:hover,
ul.navbar-nav li.menu a:hover,
a#loginLink:hover,
a#registerLink:hover,
a#logoutForm:hover{
    color:palegreen;
}

 .img-effect:hover {
    cursor: pointer;
    border-radius: 0px;
  -webkit-transform: scale(1.2, 1.2);
  -webkit-transition-timing-function: ease-out;
                      -moz-transform: scale(1.2, 1.2);
     -moz-transition-timing-function: ease-out;
                       -ms-transform: scale(1.20, 1.20);
      -ms-transition-timing-function: ease-out;

         -webkit-transition-duration: 500ms;
            -moz-transition-duration: 500ms;
             -ms-transition-duration: 500ms;

}


.title{
 margin-left:20px
}

.searchable-container{
    margin-top:40px;
}

.info-block{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box,
div.container-box {
    width:300px;
    min-height:300px;
    margin-right:22px;
    text-align:center!important;
    padding:20px;
}
.info-block:hover .info-block.block-info {
    border-color:#20819e
}
