@{
    ViewBag.Title = "Home Page";
}
<div id="homepage-container">
    <div class="jumbotron">
        <h1>Choose Me</h1>
        <p class="lead">The place where you will meet your new best friend!</p>
    </div>

    <div class="row">
        
    </div>
    <div class="row">

    </div>
</div>