@model ChooseMe.Web.Models.Forms.FormsListView
@using ChooseMe.Common.Constants
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "ListViewForms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Volunteer Forms</h2>
<br/>
@if (User.IsInRole(ControllersConst.OrganizationRole))
{
 @Html.Action("AllByOrganization", "VolunteersForm", new { area = "" })
}
else if(User.IsInRole(ControllersConst.AdopterRole))
{
    @Html.Action("AllByAdopter", "VolunteersForm", new { area = "", id = User.Identity.GetUserId()})
}
