@model ChooseMe.Web.Models.Comment.CreateCommentViewModel
<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div>
@using(@Ajax.BeginForm("CreateComment", "Comments",
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                InsertionMode = InsertionMode.Replace,
                                                UpdateTargetId = "comments"
                                            }))
                                            {
@Html.AntiForgeryToken()
@Html.HiddenFor(x => x.AnimalId)

<form class="form-inline" role="form">
    <div class="form-group">
        @Html.TextAreaFor(x => x.Content)
    </div>
    <input type="submit" value="Comment" class="btn btn-warning" />
</form>
}
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}