@model IEnumerable<ChooseMe.Models.Comment>
    <div id="comments">
        @{
            var ordered = Model.OrderByDescending(c => c.CreatedOn);
                }
            @foreach (var comment in ordered)
            {
                <em>@comment.User.UserName</em>
                <div>
                    @comment.Content
                </div>
                <br />
                <small>Added On: <em>@comment.CreatedOn</em></small>
                <hr />
            }
</div>