@model IEnumerable<ChooseMe.Models.Comment>
    <div id="comments">
        @{
            var ordered = Model.OrderByDescending(c => c.CreatedOn);
                }
            @foreach (var comment in ordered)
            {
                <strong><em> @comment.User.UserName</em></strong>
                <br/>
                <small><em>@comment.CreatedOn</em></small>
                <br />
                <div>
                    @comment.Content
                </div>
                <hr />
            }
</div>