@model  IEnumerable<ChooseMe.Web.Models.Animal.AnimalsListView>

@foreach (var pet in Model)
{
    <a class="home-link" href="~/Animals/Details/@pet.Id">
        <div class="table">
            <div class="text-center home-images">
                @Html.DisplayFor(m => pet.Photo, "PetPicture")
            </div>
            <div>
                <h3 class="text-center">
                    <strong>
                        @pet.Name
                    </strong>
                </h3>
            </div>
            <hr />
            <span class="pull-left">@Html.DisplayFor(m => pet.Gender, "Gender")</span>
            <span class="pull-right">@Html.DisplayFor(m => pet.AddedOn, "Date")</span>
        </div>
    </a>
    <br/>
    <br/>
    <br/>
    <br/>
}
