@using PagedList.Mvc;
@using ChooseMe.Web.Models.Comment;
@model PagedList.IPagedList<CreateCommentViewModel>

<div class="row text-center">
    Page <em>@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) </em>of <em> @Model.PageCount</em>
    @Html.PagedListPager(Model, page => Url.Action("Details", "Animals", new { page = page, id = Model.FirstOrDefault().AnimalId}))
</div>
