@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div>
    <h2 class="text-center">Register</h2>
</div>
<br />
<div class="row">
    <div class="col-md-12 text-center">
        <div class="col-md-3 col-md-offset-2">
            <div>
                <div>I'm looking for my new best furry friend</div><br /><br />
            </div>
            <a class="btn btn-primary btn-block text-capitalize m-0" href="RegisterAdopter">Adopters register</a>
            <img src="~/Images/SmartDogCat.jpg" alt="Dog and cat" height="250" width="250" />
            </div>
        <div class="col-md-2"></div>
            <div class="col-md-3">
                <div>
                    <div>We're non-profit organization, rescuing stray animals</div><br /><br />
                </div>
                <a class="btn btn-primary btn-block text-capitalize m-0" href="RegisterOrganization">Organizations register</a>
                <img src="~/Images/shelter_volunteer.jpg" alt="Dog and volunteer" height="250" width="250" />
            </div>
        </div>
    </div>