@model ChooseMe.Web.Models.Animal.AnimalDetailView
<div class="row">
    @if (Model.IsKidsFriendly)
    {
        <span class="label label-info tags"><span class="glyphicon glyphicon-tag"></span> Kids friendly</span>
    }

    @if (Model.IsCatsFriendly)
    {
        <span class="label label-success tags"><span class="glyphicon glyphicon-tag"></span> Cats friendly</span>
    }

    @if (Model.IsDogsFriendly)
    {
        <span class="label label-danger tags"><span class="glyphicon glyphicon-tag"></span> Dogs friendly</span>
    }

    @if (Model.IsVaccinated)
    {
        <span class="label label-primary tags"><span class="glyphicon glyphicon-tag"></span> Vaccinated</span>
    }

    @if (Model.IsChipped)
    {
        <span class="label label-warning tags"><span class="glyphicon glyphicon-tag"></span> Chipped</span>
    }

    @if (Model.IsCastraited)
    {
            <span class="label label-default tags"><span class="glyphicon glyphicon-tag"></span> Castraited</span>
    }
</div>