@{
    ViewBag.Title = "All Animals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="text-primary title">Are you going to bring us home?</h2>
<div class="row">
    @Html.EditorFor(m => m, "Search")
 </div>
<br/>
<br />
<div class="row">
    @Html.Partial("_AllTable")
    <div id="ajax-search-results"></div>
</div>
